*{
    display: flex;
    align-content: center;
    margin-top: 100px;
}           

.container1{
    height: 30px;
    width: 30px;
    background-color:blue;
    margin-left: 610px;
    margin-right: 50px;
    transition: all 3s ease;
    transition-delay: 1s;
    animation: dot1 2s forwards 2, dot1a  2s forwards 4s 3;
}
@keyframes dot1 {
    0%{
        border-radius: 50%;
        transform: translateY(0px);
    }
    25%{
        border-radius: 50%;
        transform: translateY(-10px);
    }
    50%{
        border-radius: 50%;
        transform: translateY(10px);
    }
    100%{
        border-radius: 50%;
        transform: translateY(0px);
    }
}
@keyframes dot1a {
     0%{
        border-radius: 30%;
        width: 5px;
        transform: scale(3);
    }
    20%{
        border-radius: 30%;
        width: 5px;
        transform: scale(4);
    }
    60%{
        border-radius: 30%;
        width: 5px;
        transform: scale(5);
    }
    80%{
        border-radius: 30%;
        width: 5px;
        transform: scale(4);
    }
    100%{
        border-radius: 30%;
        width: 5px;
        transform: scale(3);
    }
}

.container2{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    margin-right: 50px;
    transition: all 3s ease;
    transition-delay: 5s;
    animation: dot2 3s forwards 0s 2, dot2a 2.1s forwards 4s 3;
}
@keyframes dot2 {
    0%{
        border-radius: 50%;
        transform: translateY(0px);
    }
    25%{
        border-radius: 50%;
        transform: translateY(-10px);
    }
    50%{
        border-radius: 50%;
        transform: translateY(10px);
    }
    100%{
        border-radius: 50%;
        transform: translateY(0px);
    }
}
@keyframes dot2a {
    0%{
        border-radius: 30%;
        width: 5px;
        transform: scale(1);
    }
    20%{
        border-radius: 30%;
        width: 5px;
        transform: scale(2);
    }
    60%{
        border-radius: 30%;
        width: 5px;
        transform: scale(3);
    }
    80%{
        border-radius: 30%;
        width: 5px;
        transform: scale(2);
    }
    100%{
        border-radius: 30%;
        width: 5px;
        transform: scale(1);
    }
}

.container3{
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 50px;
    transition: all 3s ease;
    transition-delay: 10s;
    animation-name: dot3;
    animation: dot3 4s forwards 0s 2, dot3a 2s forwards 4s 3;
}
@keyframes dot3 {
    0%{
        border-radius: 50%;
        transform: translateY(0px);
    }
    25%{
        border-radius: 50%;
        transform: translateY(-10px);
    }
    50%{
        border-radius: 50%;
        transform: translateY(10px);
    }
    100%{
        border-radius: 50%;
        transform: translateY(0px);
    }
}
@keyframes dot3a {
     0%{
        border-radius: 30%;
        width: 5px;
        transform: scale(3);
    }
    20%{
        border-radius: 30%;
        width: 5px;
        transform: scale(4);
    }
    60%{
        border-radius: 30%;
        width: 5px;
        transform: scale(5);
    }
    80%{
        border-radius: 30%;
        width: 5px;
        transform: scale(4);
    }
    100%{
        border-radius: 30%;
        width: 5px;
        transform: scale(3);
    }
}

.container4{
    height: 30px;
    width: 30px;
    background-color: green;
    border-radius: 50%;
    transition: all 3s ease;
    transition-delay: 15s;
    animation: dot4 5s forwards 0s 2, dot4a 2.1s forwards 4s 3;
}
@keyframes dot4 {
    0%{
        border-radius: 50%;
        transform: translateY(0px);
    }
    25%{
        border-radius: 50%;
        transform: translateY(-10px);
    }
    50%{
        border-radius: 50%;
        transform: translateY(10px);
    }
    100%{
        border-radius: 50%;
        transform: translateY(0px);
    }
}
@keyframes dot4a {
     0%{
        border-radius: 30%;
        width: 5px;
        transform: scale(1);
    }
    20%{
        border-radius: 30%;
        width: 5px;
        transform: scale(2);
    }
    60%{
        border-radius: 30%;
        width: 5px;
        transform: scale(3);
    }
    80%{
        border-radius: 30%;
        width: 5px;
        transform: scale(2);
    }
    100%{
        border-radius: 30%;
        width: 5px;
        transform: scale(1);
    }
}
